# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

##### Some of the popular languages that Data Scientists use are:

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

##### Some of the commonly used libraries used by Data Scientists include:
1. Pandas and NumPy for Data Manipulation
2. Matplotlib for Data Visualization
3. Scikit-learn for Machine Learning 
4. Tensor flow and PyTorch for Deep Learning

| Data Science Tools |
| --------------------- |
| Jupyter Notebook |
| GitHub |
| MySQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [30]:
(3*4)+5  # This a simple arithmetic expression to mutiply then add integers

[1] 17

In [34]:
a <- 200 
b <- 200/60
print(b)
# This will convert 200 minutes to hours by diving by 60

[1] 3.333333

**Objectives:**
- Python
- R
- SQL
- JavaScript
- Java
- julia

## Author 
Om Mahajan